<article class='post'>
    <div class='title'>
        <p>Customers Name: {{customer_name}}</p>
        <p>Customers Phone: {{customer_phone}}</p>
     <a href="/customer/{{id}}">Orders Placed{{orders.length}} </a>

</article>