<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user_id}}
       
        {{created_at}}
      </div>
      <div class="text">
        Food order:{{name}}
      </div>
    </section>
  {{/each}}
</div>