<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niche Food Orders</title>
           <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@2.2.0/build/pure-min.css"
      integrity="sha384-7UE2/aLxcikvluV1XGghN2k6i+LoAwMjrZb4oVT9gGPPcLd2sjqAtgIinHb11RJz"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@2.2.0/build/grids-responsive-min.css"
    />
 

  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Niche Food Order System</a>
        </h1>
          <nav>
            <ul class='pure-menu-list'>
       
            <a href="/dashboard">Customers</a>
          
            <a href="/login">Homepage</a>
            
            <a id="logout" class="btn-no-style">Logout</a>
           
            <a href="/login"> Login or Signup</a>
       
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>Niche</footer>
      </footer>
    </div>


      <script src="/javascript/logout.js"></script>
 
  </body>

</html>