{{> order_items post}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="add-btn">add Order
    </button>
    <button type="button" class="delete-post-btn">Click to Complete Order</button>
 
  </div>
</form>
<a href="/images/nichemenu.jpeg"></a>
<img src="/images/nichemenu.jpeg"alt="Menu">
</a>

 <ol>
   
    <li>
      {{> order-name post.orders}}
   
    </li>

  </ol>
<script src="/javascript/order.js"></script>
<script src="/javascript/delete-post.js"></script>

